.ChsaddWrapper {
    max-height: 422px;
    overflow-y: scroll; 
    overflow-x: hidden; 
    margin-top: 30px;
    border-radius: 10px;
    background: #FFF2F0;
    padding: 15px;
    font-family: 'Mulish', sans-serif;
}

.ChsaddImgInner {
    position: relative;
    padding-top: 100%;
    width: 100%;
    z-index: 0;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
}

.ChsMealtype,
.ChsaddImgInner img {
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-pixelated;
    image-rendering: pixelated;
}

.ChsaddImg {
    width: 48px;
    min-width: 48px;
    border-radius: 4px;
    border: solid 1px #eeeeee;
    position: relative;
    z-index: 2;
}

.ChsaddBody {
    padding-left: 17px;
}

.ChsaddBody p {
    margin: 4px 0px;
}

.ChsaddUl {
    padding: 0;
    margin: 0;
    list-style: none;
    color: #333333;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px;
}

.ChsaddUl li {
    border-bottom: 1px solid #ffe0dc;
    padding-bottom: 11px;
    margin-bottom: 16px;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}

.ChsaddUl li.Active,
.ChsaddUl li.Active:hover {
    border-color: #dc391b;
    background-color: #fef9f8;
}

.ChsaddUl li:last-child {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}


.ChsaddBtWrap {
    font-weight: 800;
}

.ChsaddBtn {
    margin-top: 5px;
    color: #5A5A5A;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    background-color: #eeeeee;
    width: 76px;
    position: relative;
    overflow: hidden;
}


.ChsaddUl li:hover .ChsaddBtn:focus:active,
.ChsaddBtn:focus:active {
    background-color: #eeeeee;
    color: #5A5A5A;
}


.ChsaddUl li:hover .ChsaddBtn:hover,
.ChsaddBtn:hover,
.ChsaddUl li:hover .ChsaddBtn {
    background-color: #e1e1e1;
}

.ChsaddUl li:hover {
    background-color: rgb(225 225 225 / 10%)
}

.ChsaddUl li:hover .ChsaddBtn.Active:focus:active,
.ChsaddBtn.Active:focus:active,
.ChsaddUl li:hover .ChsaddBtn.Active,
.ChsaddBtn.Active {
    background-color: #dc391b;
    color: #ffffff !important;
}

.ChsaddBtn:focus,
.ChsaddBtn:active,
.ChsaddBtn:hover {
    box-shadow: none !important;
}


.ChsaddBtn span {
    -webkit-transition: all 450ms cubic-bezier(.47, 1.64, .41, .8);
    -o-transition: all 450ms cubic-bezier(.47, 1.64, .41, .8);
    -moz-transition: all 450ms cubic-bezier(.47, 1.64, .41, .8);
    transition: all 450ms cubic-bezier(.47, 1.64, .41, .8);
    display: block;
}

.ChsaddBtn:before {
    content: attr(data-select);
    position: absolute;
    top: 6px;
    left: 0;
    width: 100%;
    opacity: 0;
    -webkit-transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    -webkit-transition: all 450ms cubic-bezier(.47, 1.64, .41, .8);
    -o-transition: all 450ms cubic-bezier(.47, 1.64, .41, .8);
    -moz-transition: all 450ms cubic-bezier(.47, 1.64, .41, .8);
    transition: all 450ms cubic-bezier(.47, 1.64, .41, .8);
}

.ChsaddBtn.Active:before {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.ChsaddBtn.Active span {
    -webkit-transform: translate(140%, 0);
    -moz-transform: translate(140%, 0);
    -ms-transform: translate(140%, 0);
    -o-transform: translate(140%, 0);
    transform: translate(140%, 0);
}

.ChsMealtype {
    width: 15px;
    height: 15px;
    position: absolute;
    top: -6px;
    right: -6px;
    z-index: 2;
}


.ChsaddRoute {
    color: #A5A5A5;
}

.ChsaddUlTitle {
    color: #DC391B;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: -4px;
    cursor: pointer;
}

.ChsaddUlFadeDep,
.ChsaddUlFadeRet {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}



.ChsaddRouteMt {
    margin-top: 19px;
}




.DownCaret {
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    transition: all 200ms ease;
    display: inline-block;
}

.DownCaret.Active {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
 

.ChsaddWrapperHr { 
      margin: 19px 0 -5px;
    display: block;
    border-top-color: #ffe3df; 
    pointer-events: none;
}

.TabCrtButtonWrp{
    border-radius: 10px;
    background: #ffffff;
    border: none;
    padding: 2px 2px 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 18px;
    position: -o-sticky;
    position: -ms-sticky;
    position: -moz-sticky;
    position: -webkit-sticky;
    position: sticky;
 top: 4px; 
 z-index: 5;
 -o-box-shadow: 0 0 11px rgb(220 57 27 / 10%);
 -ms-box-shadow: 0 0 11px rgb(220 57 27 / 10%);
 -moz-box-shadow: 0 0 11px rgb(220 57 27 / 10%);
 -webkit-box-shadow: 0 0 11px rgb(220 57 27 / 10%);
 box-shadow: 0 0 11px rgb(220 57 27 / 10%);

}
.TabAddonKeySlide{
    height: 36px;
    width: 50%;
    background: #DC391B;
    border-radius: 10px;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
    -webkit-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.20) inset;
    -moz-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.20) inset;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.20) inset;
    position: absolute;
    left: 2px;
    top: 2px;
}
 
.TabAddonKeySlide.Rtr{
    margin-left: 50%;
    left: -2px;
}

.TabCrtButton{
    width: 100%;
    background: transparent !important;
    border: none !important;
    border-radius: 10px !important;
    color: #333333;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    height: 36px;
    position: relative;
    z-index: 3;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}

.TabCrtButton, .TabCrtButton:active, .TabCrtButton:focus, .TabCrtButton:hover{
    box-shadow: none;
}
.TabCrtButton.Active{ 
    color: #ffffff; 
}

/* responsive */ 
@media (max-width: 1399px) {
    .ChsaddImg {
        width: 46px;
        min-width: 46px;
    }
}


@media (max-width: 1299px) {
    .ChsaddWrapper {
        padding: 18px;
    }

    .ChsaddUl li {
        padding-bottom: 14px;
        margin-bottom: 14px;
    }

    .ChsaddImg {
        width: 44px;
        min-width: 44px;
    }

    .ChsaddBody {
        padding-left: 14px;
    }

}

@media (max-width: 1199px) {
    .ChsaddWrapper {
        max-height: 423px;
        padding: 16px;
    }


    .ChsaddUl li {
        padding-bottom: 12px;
        margin-bottom: 12px;
    }

    .ChsaddImg {
        width: 42px;
        min-width: 42px;
    }

}

@media (max-width: 767px) { 
    .ChsaddWrapper { 
        padding: 6px 16px 12px; 
    }
    .ChsaddUlTitle {
font-size: 12px;
padding-top: 12px;
padding-bottom: 12px;
    }
    
.ChsaddRouteMt {
    margin-top: 22px;
}
.ChsaddImg {
    width: 60px;
    min-width: 60px;
}
.ChsaddUl {
font-size: 13px;
}
.ChsaddBtWrap{
    margin-top: 8px;
}
.TabCrtButtonWrp{
    margin-top: 4px;
    margin-bottom: 10px; 
}
.ChsaddWrapperHr {
    margin: 11px 0 -15px
}
}

@media (max-width: 575px) {
    .ChsaddBody {
        padding-left: 16px;
    }
    
}

@media only screen and (max-width:500px) { 
    .ChsaddImg {
        width: 50px;
        min-width: 50px;
    }
    .ChsaddUl {
        font-size: 12px;
        }
     
        .ChsPrice{
            font-size: 12px;
            font-weight: 800;
        }
}

@media (max-width: 425px) {
    .ChsaddWrapper { 
        padding: 6px 12px 12px;
        margin-top: 25px;
    }
}