.SeatTypeName {
    border-radius: 10px;
    background: #FFF2F0;
    margin: 30px 0;
    padding: 20px;
    font-family: 'Mulish', sans-serif;
}

.SeatTypeName p {
    color: #5A5A5A;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    margin-bottom: 0;
}

.SeatTypeName ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.SeatTypeName ul li {
    margin-bottom: 20px;
    color: #333;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100%;
}

.SeatTypeName label {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0;
    border-radius: 4px;

}

.SeatTypeName label.ClrGreen {
    background: #50E3C2;
}

.SeatTypeName label.ClrLightBl {
    background: #BADAFF;
}

.SeatTypeName label.ClrDarkBl {
    background: #1E568F;
}

.SeatTypeName label.ClrGray {
    background: #CFCFCF;
}




/* responsive */
@media only screen and (max-width:1299px) {
    .SeatTypeName {
        margin: 26px 0;
    }
    .SeatTypeName ul li {
        margin-bottom: 18px;
    }
}

@media only screen and (max-width:1199px) {
 
    .SeatTypeName ul li {
        margin-bottom: 16px;
        font-size: 13px;
    }
}

@media only screen and (max-width:991px) {}

@media only screen and (max-width:767px) {
    .SeatTypeName{
        padding: 0;
        background: transparent;
        margin-bottom: 17px;
        margin-top: 21px;
        text-align: center;
    }
    .SeatTypeName ul{
        margin-bottom: 8px;
        margin-left: -12px;
        margin-right: -12px;
        line-height: 1.4;
    }
    .SeatTypeName ul li {
        width: auto;
        padding-left: 14px;
        padding-right: 14px;
        margin-bottom: 0px;
        font-size: 12px;
        border-right: solid 1px #e7e7e7;
    }
    .SeatTypeName ul li:last-child{
        border-right: 0;
    }
    .SeatTypeName label {
        width: 12px;
        height: 12px;
        margin-right: 8px;
    }
}

@media only screen and (max-width:575px) {
    .SeatTypeName label {
        width: 8px;
        height: 8px;
        margin-right: 6px;
        border-radius: 2px;
    }
    .SeatTypeName ul li { 
        padding-left: 10px;
        padding-right: 10px; 
        font-size: 11px;
    } 
}

@media only screen and (max-width:425px) {
    .SeatTypeName ul li {  
        font-size: 10px;
    }
}