.ServiceReq {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.04);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.04);
    -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,.04);
    -ms-box-shadow: 0 1px 2px 0 rgba(0,0,0,.04);
    -o-box-shadow: 0 1px 2px 0 rgba(0,0,0,.04);
    padding: 20px;
}


/* responsive */
@media (max-width: 575px) {
    .ServiceReq {
        padding: 16px;
    }
}
@media (max-width: 475px) {
    .ServiceReq {
        padding: 12px;
    }
}