.TabAddonRoute ul {
    border-radius: 10px;
    background: #FFF2F0;
    border: none;
    padding: 2px 2px 3px;
    margin-bottom: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.TabAddonRoute {
    position: relative;
    font-family: 'Mulish', sans-serif;
}

.TabAddonRoute ul li {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -moz-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
}

.TabAddonRoute ul li button {
    width: 100%;
    background: transparent !important;
    border: none !important;
    border-radius: 10px !important;
    color: #333333;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    height: 36px;
    position: relative;
    z-index: 3;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}

.TabAddonRoute ul li button[aria-selected="true"] {
    color: #ffffff !important;
}

.TabAddonKey {
    height: 36px;
    width: 50%;
    background: #DC391B;
    border-radius: 10px;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
    -webkit-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.20) inset;
    -moz-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.20) inset;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.20) inset;
    position: absolute;
    left: 2px;
    top: 2px;
}

.TabAddonKey.Return {
    margin-left: 50%;
    left: -2px;
}

.TabAddonRt {
    position: relative;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 260ms;
    animation-duration: 260ms;
}


@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 6%, 0);
        transform: translate3d(0, 6%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 6%, 0);
        transform: translate3d(0, 6%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.TabAddonRt ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.TabAddonRt ol li {
    position: relative;
    padding-left: 29px;
    padding-bottom: 30px;
}


.TabAddonRt ol li::before {
    content: '';
    height: 100%;
    position: absolute;
    border-left: dashed 2px #d2d2d2;
    top: 8px;
    left: 4px;
}

.TabAddonRt ol li::after {
    content: '';
    border: solid 2px #dc391b;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 0;
    top: 8px;
    border-radius: 3px;
    background-color: #fff;
}

.TabAddonRt ol li.Active::after {
    background-color: #dc391b;
}

.TabAddonRt ol li:last-child {
    padding-bottom: 0;
}

.TabAddonRt ol li:last-child::before {
    display: none;
}

.TabAddonRtBtn {
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
    box-shadow: none !important;
    color: #333;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 4px;
    background: #FFF2F0;
    padding: 4px 6px;
    min-width: 80px;
}

.TabAddonRtBtn.Active {
    color: #ffffff;
    background-color: #dc391b;
}

.TabARtSelected {
    color: #9d9d9d;
    font-size: 10px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    left: 119px;
    margin-top: 7px;
    text-transform: capitalize;
    letter-spacing: 0.2px;
}

.TabARtSelected,
.TabAddonRt ol li::after {
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}


/* responsive */
@media only screen and (max-width:1199px) {
    .TabAddonRoute ul {
        margin-bottom: 18px;
    }
}

@media only screen and (max-width:991px) {}

@media only screen and (max-width:767px) {}

@media only screen and (max-width:575px) {}

@media only screen and (max-width:425px) {}