.SkipContinue{
    margin-top: 21px;
}

.SkiptoBtn{
    color: #3BA7BF;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 0;
}

button.SkiptoBtn:hover{
    color: #2f8598;
}

.SkiptoBtn:focus,
.SkiptoBtn:active,
.SkiptoBtn:hover {
    box-shadow: none;
    text-decoration: none;
}



/* responsive */
@media only screen and (min-width:1200px) {}

@media only screen and (max-width:1199px) {}

@media only screen and (max-width:991px) {}

@media only screen and (max-width:767px) {}

@media only screen and (max-width:575px) {}

@media only screen and (max-width:425px) {
    .SkiptoBtn{
        font-size: 13px;
    }
}